*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
coverage
coverage.data
rdoc
doc
.yardoc
.bundle
pkg
.DS_Store

# ctags
.tags
.tags_sorted_by_file
.ruby-version
spec/dummy/log/test.log
